.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.msgTop{
  display: flex;
}

.msgImg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.msgText{
  padding: 10px;
  border-radius: 20px;
  color: black;
  background-color: rgba(211, 211, 211, 0.393);
  max-width: 300px;
}

.msgBottom{
  font-size: 12px;
  margin-top: 10px;
}

.message.own{
  align-items: flex-end;
}

.message.own .msgText{
  background-color: #1877f2;
  color: white;
}